body{
    background: rgb(89,18,2);
    background: linear-gradient(90deg, rgba(89,18,2,1) 12%, rgba(191,66,21,0.8855917366946778) 88%);
    color: #F2E6CE;
}

header{
    max-width: 900px;
    border-radius: 25px 25px 0px 0px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    height: 100px;
    background-color: #F2CA52;
}

header h1, p{
    color: #BF4215;
}

header button{
    float: right;
    background: none;
    color:#F2E6CE;
    position: relative;
}

main {
    border-radius: 0px 0px 25px 10px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F28729;
    box-shadow: 7px 7px 20px #532e0db2;
  }
  
  h2 {
    font-size: 1.8em;
    color: #F2E6CE;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  ul {
    margin-bottom: 20px;
  }
  
  /* Estilos para o formulário de contato */
  form {
    margin-top: 0px;
  }
  
  fieldset {
    border: none;
    color: #F2E6CE;
    padding: 0;
    margin: 0;
  }
  
  legend {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #444;
  }
  
  /* Estilos para o rodapé */
footer{
    background-color: rgb(180, 72, 223);
}